<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Fit</title>
</head>
<body>


   <%= erb(:'partials/navigation', :layout => false) %>


	<%= yield %>

</body>
</html>