.header{
	text-align: center;
	color: #2196F3;

}
#new{
	font-family: monospace;
}

.card-block{
	border: solid black 3px;
	background-color: rgba(42, 42, 253, 0.18);
}
/*NEW.erb Styling*/
#form{
	display: table-caption;
	margin-left: 340px;
	font-family: monospace;
}

.box{
	float: 
}

#pic{
	float: right;
    margin-top: -662px;
    margin-left: -15px;
}

#runpic{
	height: 100px;
	width: 160px;
	display: inline-block;
	float: right;
	margin-right: 40px;
	margin-top: -200px;
}
#fit{
	height: 100px;
}

#delete{
	position: relative;
	margin-left: 140px;
}

.upload{
	max-height: : 200px;
	max-width: 200px;
	float: left;
}

.ads{
	float: right;
}


.btn-btn-primary{
	/*width: 150px;*/
	float: right;

}

.navtitle{
	font-weight: 800;	

}


.section{
	background-color: blue;
}


