.header{
	text-align: center;
	color: #2196F3;

}
#new{
	font-family: monospace;
}

.card-block{
	border: solid black 3px;
	background-color: rgba(42, 42, 253, 0.18);
}

#form{
	display: table-caption;
	margin-left: 35px;
	font-family: monospace;
}

#runpic{
	height: 100px;
	width: 160px;
	display: inline-block;
	float: right;
	margin-right: 40px;
	margin-top: -200px;
}
#fit{
	height: 100px;
}

#delete{
	
}