<h1 class="training">Hey Find out your nearest Gym </h1> 

	

<section>
	<div>
		<ul>
			<li>Find Your nearest Gym</li>
		</ul>
	</div>


 <a href="http://www.google.com"><img src="GoogleMaps.png"></a>



 



</section>