<h1 class="training">Hey Find Your Nearest Gym </h1> 

	

<section>
	<div>
		<ul id="map">
			<li >Find Your nearest Gym</li>
		</ul>
	</div>


 <a href="https://www.google.co.uk/maps/@51.4621075,-0.29374,14z"><img src="GoogleMaps.png"></a>



 



</section>