<h1 class="training">Hey Fiind out you nearest gym </h1> 

<p>this forum is still under contrucstions, there may be parts that are not working</p>	

<section>
	<div>
		<ul>
			<li>Find Your nearest Gym</li>
		</ul>
	</div>




</section>