<h1 class="training">Hey Find out your nearest Gym </h1> 

	

<section>
	<div>
		<ul>
			<li>Find Your nearest Gym</li>
		</ul>
	</div>


<img href="www.google.com" src="Google-img.png">







</section>